@import url(__img/feynman__img.css);
@import url(__link/feynman__link.css);

.feynman {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 890px;
    background: #f2f2f2;
}