@import url(__column/_content/footer__column_content_copyright.css);
@import url(__columns/footer__columns.css);

.footer {
    min-height: 350px;
    display: flex;
    box-sizing: border-box;
    padding-top: 60px;
    background: #1f1f1f;
    justify-content: center;
}